<div class="cart-sidepanel" id="cart-sidepanel" data-cart-sidepanel>
  <div class="cart-sidepanel__overlay" data-cart-close></div>
  <div class="cart-sidepanel__content">
    <div class="cart-sidepanel__header">
      <h2 id="cart-count-header" data-cart-title="">Your Cart ({{ cart.item_count }})</h2>
      <button class="cart-sidepanel__close" data-cart-close>
        <img src="{{ 'close.svg' | asset_url }}" width="24" height="24">
      </button>
    </div>

    <div id="cart-sidepanel-items-container">
      {% section 'cart-sidepanel-content' %}
    </div>
  </div>
</div>
