<style></style>

<div id="{{ section.id }}" class="collection-products-section"></div>

{% schema %}
{
  "name": "Products",
  "tag": "section",
  "class": "collection-products-section",
  "settings": []
}
{% endschema %}
