{% style %}
  .scroll-video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .scroll-video__title {
    font-size: 70px;
    line-height: 0.9;
    color: var(--color-brand-cream);
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }

  .scroll-video__container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
  }

  .scroll-video__video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    /* opacity: 0.4; */
  }

  .scroll-video__mobile {
    display: none;
  }
  .scroll-video__desktop {
    display: block;
  }

  .scroll-video__divider {
    height: 1px;
    width: 100%;
    max-width: 800px;
    background: var(--color-brand-cream);
  }

  @media (max-width: 767px) {
    .scroll-video__mobile {
      display: block;
    }
    .scroll-video__desktop {
      display: none;
    }
  }
{% endstyle %}

<section class="scroll-video section-container">
  <div class="scroll-video__container">
    {% if section.settings.video_mobile != blank %}
      {{
        section.settings.video_mobile
        | video_tag:
          class: 'scroll-video__video scroll-video__mobile',
          muted: true,
          playsinline: true,
          preload: 'metadata',
          controls: true
      }}
    {% endif %}

    {% if section.settings.video_desktop != blank %}
      {{
        section.settings.video_desktop
        | video_tag:
          class: 'scroll-video__video scroll-video__desktop',
          muted: true,
          playsinline: true,
          preload: 'metadata',
          controls: false
      }}
    {% endif %}
  </div>
  <div class="scroll-video__divider"></div>

  {% if section.settings.title != blank %}
    <h2 class="scroll-video__title title-font">
      {{ section.settings.title }}
    </h2>
  {% endif %}
</section>

{% schema %}
{
  "name": "Scroll Video",
  "tag": "section",
  "class": "section",
  "settings": [
    { "type": "header", "content": "Section Content" },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title",
      "default": "<p>Watch Our Story</p>",
      "info": "Use the rich text editor to format your title with line breaks, italics, etc."
    },
    { "type": "header", "content": "Videos" },
    { "type": "video", "id": "video_desktop", "label": "Desktop Video" },
    { "type": "video", "id": "video_mobile", "label": "Mobile Video (optional)" }
  ],
  "presets": [{ "name": "Scroll Video" }]
}
{% endschema %}
